USE [master]
GO
/****** Object:  Database [Ivanov]    Script Date: 29.04.2020 17:38:07 ******/
CREATE DATABASE [Ivanov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ivanov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Ivanov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ivanov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Ivanov_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ivanov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ivanov]
GO
/****** Object:  UserDefinedFunction [dbo].[counterss]    Script Date: 29.04.2020 17:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   FUNCTION [dbo].[counterss]
(@group varchar (10))
returns int
as
begin
declare @res int
select @res = count(*) from fivethree (@group)
return @res
end
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 29.04.2020 17:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Id_Student] [int] NOT NULL,
	[Subject] [varchar](50) NOT NULL,
	[Mark] [int] NOT NULL,
	[Exam_Date] [date] NOT NULL,
	[Id_Lect] [int] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC,
	[Subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 29.04.2020 17:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id_Student] [int] NOT NULL,
	[FIO] [varchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[NameGroup] [varchar](10) NOT NULL,
	[Stip] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fivethree]    Script Date: 29.04.2020 17:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create   function [dbo].[fivethree]
(@grp varchar(10))
returns table as
return
 select  subject from exam where id_student in (select a.id_student from student A where NameGroup=@grp)
group by subject
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 29.04.2020 17:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[Id_Lect] [int] NOT NULL,
	[FIO] [varchar](50) NOT NULL,
	[Stage] [int] NOT NULL,
	[Kafedra] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Lecturer] PRIMARY KEY CLUSTERED 
(
	[Id_Lect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudGroup]    Script Date: 29.04.2020 17:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudGroup](
	[NameGroup] [varchar](10) NOT NULL,
	[Kurs] [int] NOT NULL,
	[Kafedra] [varchar](20) NOT NULL,
 CONSTRAINT [PK_StudGroup] PRIMARY KEY CLUSTERED 
(
	[NameGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Exam] ([Id_Student], [Subject], [Mark], [Exam_Date], [Id_Lect]) VALUES (1, N'Математика', 3, CAST(N'2019-01-21' AS Date), 1)
INSERT [dbo].[Exam] ([Id_Student], [Subject], [Mark], [Exam_Date], [Id_Lect]) VALUES (1, N'УД', 2, CAST(N'2019-04-29' AS Date), 1)
INSERT [dbo].[Exam] ([Id_Student], [Subject], [Mark], [Exam_Date], [Id_Lect]) VALUES (1, N'Управление данными', 3, CAST(N'2016-01-17' AS Date), 1)
GO
INSERT [dbo].[Lecturer] ([Id_Lect], [FIO], [Stage], [Kafedra]) VALUES (1, N'Авдеев К.А.', 10, N'ПМ')
INSERT [dbo].[Lecturer] ([Id_Lect], [FIO], [Stage], [Kafedra]) VALUES (2, N'Петров А.Д.', 5, N'ПМ')
INSERT [dbo].[Lecturer] ([Id_Lect], [FIO], [Stage], [Kafedra]) VALUES (3, N'Иванов В.С.', 1, N'ИС')
GO
INSERT [dbo].[Student] ([Id_Student], [FIO], [Birthday], [Gender], [NameGroup], [Stip]) VALUES (1, N'Агеев А.А.', CAST(N'1998-01-01' AS Date), N'м', N'А-13-10', 1700)
INSERT [dbo].[Student] ([Id_Student], [FIO], [Birthday], [Gender], [NameGroup], [Stip]) VALUES (2, N'Богданов В.В', CAST(N'1998-02-21' AS Date), N'м', N'А-12-01', 2000)
INSERT [dbo].[Student] ([Id_Student], [FIO], [Birthday], [Gender], [NameGroup], [Stip]) VALUES (3, N'Васильева А.Э.', CAST(N'1998-01-14' AS Date), N'ж', N'А-12-01', NULL)
GO
INSERT [dbo].[StudGroup] ([NameGroup], [Kurs], [Kafedra]) VALUES (N'А-12-01', 3, N'ПМ')
INSERT [dbo].[StudGroup] ([NameGroup], [Kurs], [Kafedra]) VALUES (N'А-12-02', 3, N'ПМ')
INSERT [dbo].[StudGroup] ([NameGroup], [Kurs], [Kafedra]) VALUES (N'А-13-10', 2, N'ПМ')
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Lecturer1] FOREIGN KEY([Id_Lect])
REFERENCES [dbo].[Lecturer] ([Id_Lect])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Lecturer1]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student1] FOREIGN KEY([Id_Student])
REFERENCES [dbo].[Student] ([Id_Student])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Student1]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_StudGroup1] FOREIGN KEY([NameGroup])
REFERENCES [dbo].[StudGroup] ([NameGroup])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_StudGroup1]
GO
/****** Object:  StoredProcedure [dbo].[fivetwo]    Script Date: 29.04.2020 17:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec fivetwo @dt = 17.01.2016, @prep='Воронов П.Н', @stud = 'Иванов Р.А', @marks = 3, @predmet='Управление данными'
-- =============================================
create   procedure [dbo].[fivetwo] 
@dt date, @prep VARCHAR(50), @stud varchar(50), @marks int, @predmet varchar(50)
AS
BEGIN

DECLARE 
@prep_id int, @stud_id int


SELECT @prep_id = id_lect from lecturer where FIO = @prep

SELECT @stud_id = id_Student from student where  fio = @stud


IF NOT EXISTS (select * from exam where id_student = @stud_id and subject = @predmet)

	insert into exam (Id_Student, Subject, Mark, Exam_Date, Id_Lect) values (@stud_id, @predmet,@marks,@dt,@prep_id)
else
begin
	update exam 
	set exam_date = @dt,
		 id_lect = @prep_id,
		 mark = @marks
	where id_student = @stud_id and subject = @predmet
end


end



GO
/****** Object:  StoredProcedure [dbo].[namegroup]    Script Date: 29.04.2020 17:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create   procedure [dbo].[namegroup] 
@fio varchar(50), @GROUP_COD VARCHAR(10)
AS
BEGIN

DECLARE @FIO_ID INT , @grp_check int

SELECT @FIO_ID = Id_Student FROM Student where fio = @fio
SELECT @grp_check = count(*) FROM studgroup where NameGroup = @group_cod

if @FIO_ID is null 
print 'Студента нет в таблице';
else
begin
	if @grp_check = 1 
	begin
	update Student
	set NameGroup = @GROUP_COD Where Id_Student = @FIO_ID
	end
	else
		print 'такой группы нет'


	
	end
	end


GO
/****** Object:  StoredProcedure [dbo].[NewGroup]    Script Date: 29.04.2020 17:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NewGroup]
@fio varchar(50), @GROUP_COD VARCHAR(10)
AS
BEGIN

DECLARE @FIO_ID INT , @grp_check int

SELECT @FIO_ID = Id_Student FROM Student where fio = @fio
SELECT @grp_check = count(*) FROM studgroup where NameGroup = @group_cod

if @FIO_ID is null 
print 'Студента нет в таблице';
else
begin
	if @grp_check = 1 
	begin
	update Student
	set NameGroup = 'A-12-02' Where Id_Student = @FIO_ID
	end
	else
		print 'такой группы нет'


	
	end
	end


GO
/****** Object:  StoredProcedure [dbo].[stip_update]    Script Date: 29.04.2020 17:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec fivetwo @dt = 17.01.2016, @prep='Воронов П.Н', @stud = 'Иванов Р.А', @marks = 3, @predmet='Управление данными'
-- =============================================
create      procedure [dbo].[stip_update] 
@proc real, @min_stip int
AS
BEGIN

DECLARE @new_stip TABLE (id_student INT NOT NULL PRIMARY KEY, FIO VARCHAR (50) NOT NULL, STIP int)
 insert into @new_stip select id_student, FIO, stip from student
 declare @stud INT
 SELECT @stud=id_student from @new_stip
 update @new_stip set stip=stip*(@proc/100+1) where id_student in (select id_student FROM exam group by id_student having min(mark)>3) and stip is not null
 update @new_stip set stip=@min_stip where id_student in (select id_student FROM exam group by id_student having min (mark)>3) and stip is null
 select* from @new_stip


 end
GO
USE [master]
GO
